.big-pack
{
    width: 100%;
    min-height: 750px ;
    background-color: #000;
    padding-top: 100px;
}

.big-pack__content
{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.big-pack__left
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-pack__left__img
{
    position: relative;
}

.big-pack__lead 
{
    position: absolute;
    z-index: 9999;
}

.big-pack__line

{
}


#bar
{
    background-color:#fff;
    color:black; 
    position:relative; 
    top: 56px;
    left: -100px;
}

#bar1
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: -105px;
    left: -100px;
}

#bar2
{
    background-color:#fff;
    color:black; 
    position:relative; 
    top: -26px;
    left: 170px;
}

#bar3
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: 42px;
    left: 105px;
}

#bar4
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: -27px;
    left: 105px;
}

#bar5
{
    background-color:#fff;
    color:black; 
    position:relative; 
    top: -74px;
    left: 180px;
}

#bar6
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: -34px;
    left: 180px;
}

#bar7
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: -68px;
    left: 195px;
}

#bar8
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: 270px;
    left: -22px;
}

#bar9
{
    background-color:#fff;
    color:black; 
    position:relative; 
    top: 270px;
    left: 145px;
}

#bar10
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: 310px;
    left: 96px;
}

#bar11
{
    background-color:#fff;
    color:black; 
    position: absolute;
    top: 310px;
    left: 95px;
}



.big-pack__text

{
    color: #fff;
    font-size: 12px;
    font-family: $font-family;
} 

#text
{
    position: relative;
    bottom: 140px;
    right: 100px;
}

#text1
{
    position: relative;
    bottom: 130px;
    left: 100px;
    width: 40%;
}


#text2
{
    position: relative;
    bottom: 120px;
    left: 195px;
    width: 40%;
}

#text3
{
    position: relative;
    top: 340px;
    left: -25px;
    width: 40%;
}


#text4
{
    position: relative;
    bottom: -300px;
    left: 95px;
    width: 40%;
}


.anim-block
{
    color: aqua;
}

.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}


