.big-pack
{
    width: 100%;
    min-height: 550px ;
    background-color: #000;
    padding-top: 100px;
}

.big-pack__content
{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.big-pack__left, .big-pack__right
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-pack__left__img, .big-pack__right__img
{
    position: relative;
}

.big-pack__lead 
{
    position: absolute;
    z-index: 9999;
}

.big-pack__text

{
    color: #fff;
    font-size: 12px;
    font-family: $font-family;
} 

img.bpack-1
{
    width: 90%;
    max-width: 250px;
}

img.bpack-2
{
    width: 90%;
    max-width: 280px;
}

.line-bottom img 
{
    width: 90%;
    max-width: 250px;
}

/* New */ 
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1.5s ease forwards;
    animation-delay: 1s;
    opacity: 1;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  .line-board text {
      fill: #fff;
      font-size: 11px;
     font-family: $font-family;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s, visibility 0s linear 0.3s;
      position: relative;
      bottom: 50px;
      
  }
  .line-board.absolut text {    
      visibility: visible;
      transition-delay: 2s;
      opacity: 1;
  }

  .line-top, .line-bottom 
  {
      display: flex;
      flex-direction: row;
      position: absolute;
      z-index: 999;
  }

  .line-top
  {
    margin-top: 140px;
  }

  .line-bottom 
  {
      top: 300px;
  }

  #line1
  {
     position: absolute;
     top: -280px;
     left: -40px;
  }

  #line2
  {
     position: absolute;
     top: -280px;
     left: -5px;
  }

  #line3
  {
     position: absolute;
     top: -280px;
     left: 110px;
  }

  #line4
  {
     position: absolute;
     top: -50px;
     left: 35px;
  }

  #line5
  {
     position: absolute;
     top: -50px;
    left: 180px;
  }

  #line6
  {
     position: absolute;
     top: -290px;
     left: -30px;
  }

  #line7
  {
     position: absolute;
     top: -280px;
     left: 30px;
  }

  #line8
  {
     position: absolute;
     top: -290px;
     left: 140px;
  }

  #line9
  {
     position: absolute;
     top: -50px;
    left: 30px;
  }

  #line10
  {
     position: absolute;
     top: -70px;
    left: 110px;
  }

  #line11
  {
     position: absolute;
     top: -150px;
    left: 150px;
  }


  @media screen and (min-width: 768px) and (max-width: 1279px) {

    

}

@media screen and (min-width: 0px) and (max-width: 767px) {

    
  .line-top
  {
    margin-top: 0px;
  }

    .big-pack {

        width: 100%;
        min-height: 550px;
        background-color: #000;
        padding-top: 20px;
    
    }

    .big-pack__content
    {
        flex-direction: column;
    }
    
    .big-pack__left__img, .big-pack__right__img {

        position: relative;
        width: 90%;
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
        height:600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }

    .big-pack__left__img img
    {
        width: 80%;
        margin: 0 auto;
        max-width: 250px;
    }

    .big-pack__right__img img 
    {
        width: 80%;
        margin: 0 auto;
        max-width: 250px;
    }

#line1
{
    left: -10px;
}

#line2 {

    position: absolute;
    top: -280px;
    left: 30px;

}

#line3
{
    left: 150px;
}

#line4 {

    position: absolute;
    top: 110px;
    left: 55px;

}

#line5 {

    position: absolute;
    top: 110px;
    left: 180px;

}

#line6 {

    position: absolute;
    top: -290px;
    left: 5px;

}

#line7 {

    position: absolute;
    top: -270px;
    left: 50px;

}

#line8 {

    position: absolute;
    top: -290px;
    left: 170px;

}

#line9 {

    position: absolute;
    top: 100px;
    left: 60px;

}

#line10 {

    position: absolute;
    top: 85px;
    left: 130px;

}

#line11 {

    position: absolute;
    top: 0px;
    left: 170px;

}
 
}