/* NEW */

.container {
  display: flex;
}

.firm__block{
  position: relative;
   width: 230px;
    height: 250px;
    box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.14);
  margin-right: 10px;
}

.firm__block span 
{
    position: absolute;
    background-color: #fff;
    width: 125px;
    height: 90px;
    top: 160px;
    font-family: $font-family-bold;
    color: #3a3a3a;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 9999;
}

.firm__block--mango
{
    background-image: url("../img/mango.png")
}


.firm__block--pin
{
    background-image: url("../img/pin.png")
}


.firm__block--ocean
{
    background-image: url("../img/ocean.png")
}

.firm__block::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation-name: opaci;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  left: 0;
}

.mango:after {
  background: #d9415b;
  animation-delay: 0s;
  z-index: 9998;
}

.pin::after {
  background: #f7c752;
  animation-delay: 1s;
}

.ocean::after {
  background: #2f4d88;
  animation-delay: 2s;
}

@keyframes opaci {
  0% {opacity: 1}
  33%{opacity: 1}
  34%{opacity: 0}
  100%{opacity: 0}
}


.firm__text
{
    font-family: $font-family;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.firm__text span
{
    display: block;
}


.firm__content
{
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.firm__block
{
    width: 230px;
    height: 250px;
    box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.14);
}

.firm__block img
{
    max-width: 230px;
}

    /* Site */

    .site
    {
        min-height: 100vh;
        position: relative;
    }

    .site__button
    {
        border-radius: 16px;
        border: none;
        background-image: linear-gradient( 90deg, rgb(245,123,32) 0%, rgb(241,87,34) 100%);
        width: 160px;
        height: 36px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 999;
        position: absolute;
        top: 195px;
        left: 46%;;    }

    .site__button a
    {
        font-family: $font-family-bold;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 25px;
        padding-top: 5px;
    }

    .site__content img
    {
        width: 100%;
        position: relative;
    }
      

    .iframe
    {
        width: 100%;
        min-height: 100vh;
        margin-top: -10px;
        overflow-y: hidden;
    }

    .iframe iframe
    {
        width: 100%;
        min-height: 100vh;
        border: none;
        }

        iframe[seamless]{ 

            overflow: hidden; 
        } 

    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }


    @media screen and (min-width: 768px) and (max-width: 1279px) {

        .firm__block
        {
            width: 200px;
            height: 220px;
            box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.14);
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .img_container
        {
            width: 200px;
            height: 220px;
            box-shadow: 0px 6px 49px 0px rgba(0, 0, 0, 0.14);
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .top img 
        {
            width: 200px;
            height: 220px;
        }

        .bottom img 
        {
            width: 200px;
            height: 220px;
        }

        .top span
        {
            top: 130px;
        }

        .bottom span
        {
            top: 130px;
        }

        .site
        {
            min-height: auto;
        }

        .site__button
        {
            top: 255px;
            left: 40%;
        }

    }
    
    @media screen and (min-width: 0px) and (max-width: 767px) {

        .firm__block
        {
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .firm__text
        {
            width: 70%;
        }

        .firm__content
        {
            flex-direction: column;
        }

        .img_container
        {
            margin-bottom: 20px;
        }

        .site
        {
            min-height: auto;
        }

        .site__content
        {
            position: relative;
        }


        .site__button
        {
            position: absolute;
            top: -15px;
            left: 30%;
        }
    
     
    }