.hasta
{
    width: 100%;
    min-height: 300px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hasta__img
{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.hasta__img--hasta
{
    width: 80%;
    max-width: 315px;
    padding-bottom: 20px;
}

.hasta__img--vista
{
    width: 90%;
    max-width: 410px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

    .hasta__img
    {
        width: 80%;
    }
}