.logo__title
{
    width: 90%;
    max-width: 1170px; 
    margin: 0 auto;
    font-family:$font-family-bold;
    text-transform: uppercase;
    text-align: center;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.03em;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo__bg
{
    background-color: #f7f7f7;
    min-height: 250px;
    margin-bottom: 40px;
}

.logo__content
{
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    
}

.logo__img
{
    text-align: center;
}

.logo__img--ec
{
    height: 63px;
    display: flex;
    align-items: center;
}

.logo__img--ec img
{
    margin: 0 auto;
}

.logo__line
{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.logo__text
{
    font-family: $font-family;
    font-size: 14px;
    color: #3a3a3a;
    text-align: center;
}

.logo__info
{
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.logo__info::after
{
    content: "";
    position: absolute;
    background-image: url("../img/plus.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 80px;
    left: 120px;
}

.logo__info--ec::after
{
    content: "";
    position: absolute;
    background-image: url("../img/equal.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top: 80px;
    left: 120px;
}

.logo__info--uo::after
{
    display: none;
}

.logo__img--uo img 
{
    height: 60px;;
}

@media screen and (min-width: 0px) and (max-width: 767px) {

    .logo__content
    {
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .logo__info
    {
        width: 80%;
        margin-bottom: 50px;
    }

    .logo__info::after {
        content: "";
        position: absolute;
        background-image: url("../img/plus.svg");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        left: 48%;
        top:180px;
    }

    .logo__info--ec::after
{
    content: "";
    position: absolute;
    background-image: url("../img/equal.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    left: 48%;
    top:180px;
}
     
}